@layer theme, base, components, utilities;

@import "tailwind-color-invert" layer(theme);  
 
/* @import "tailwindcss/theme.css" layer(theme); */
/* * theme需要全量生成，const node_modules/tailwindcss 里拷贝出来，加上static */
@import "./theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);



@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));


::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

/* 进入dark模式和退出dark模式时，两个图像的位置顺序正好相反 */
::view-transition-old(root) {
    z-index: -1;
}

::view-transition-new(root) {
    z-index: 1;
}

.dark::view-transition-old(root) {
    z-index: 1;
}

.dark::view-transition-new(root) {
    z-index: -1;
}